.result {
    padding-top: 140px;
    padding-bottom: 91px;
    text-align: center;
}

.result .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.result-image {
    position: absolute;
    top: 85px;
    z-index: -1;
}

.result-title {
    max-width: 588px;
    margin-bottom: 60px;
}

.result-score {
    background-image: url("../images/result-image.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-size: 158px;
    line-height: 190px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.result-page {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    transition: .2s ease all;
}

.result-page a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    position: absolute;
    right: 0;
}

.result-page a:hover {
    text-decoration: underline;
}

.result-page a img {
    margin-left: 13px;
}